<div class='container'>
  <h1>Feed</h1>

  <% @posts.each do |post| %>
    <h4><%=  post.user.full_name  %> <a href="#"> @<%= post.user.username  %> </a> </h4>
    <p> <%= post.content %> </p>
  <% end %>
</div>